---
import Layout from '../layouts/Layout.astro';
import LanguageSwitcher from '../components/LanguageSwitcher.astro';
import Hero from '../components/Hero.astro';
import Gallery from '../components/Gallery.astro';
import Calculator from '../components/Calculator.astro';
import MapContact from '../components/MapContact.astro';
import Footer from '../components/Footer.astro';
---
<Layout
  title="Marcos a medida | Enmarcaciones El Peñón | Puerto de la Cruz"
  description="Marco a medida, marcos aluminio, enmarcaciones Tenerife. Marcos personalizados 40x40, 50x50 y más. Enmarcaciones El Peñón en Puerto de la Cruz."
>
  <main class="relative">
    <LanguageSwitcher />
    <Hero />
  </main>
  <Gallery />
  <Calculator />
  <MapContact />
  <Footer />
</Layout>
